name: Deployment pipeline

on:
  push:
    branches:
      - main

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: action/checkout@v4
      - uses: action/setup-node@v4
        with:
          node-version: '20'
    
      - run: npm install
      - name: Linting
        run: npm run eslint